---
const aboutMe = `Hello, I'm Himanshu, a B.Tech graduate in Computer Science and Engineering with a strong focus on Flutter, Astro for web development, and Android app development. After completing my degree, I gained valuable experience through a 3-month internship and have since transitioned into a full-time role.

With hands-on experience in building diverse software applications, including news apps, product websites, web browsers, e-learning platforms, social media apps, and cloud-based notes storage systems, I am dedicated to creating user-friendly solutions that address real-world challenges.

Proficient in Flutter for cross-platform app development, Astro for web development, and native Android app development, I possess the skills necessary to deliver high-quality, scalable, and efficient software solutions. My commitment to providing impactful user experiences drives my continuous learning and adoption of emerging technologies.

During my internship and full-time role, I have further developed my project management, collaboration, and communication skills through successful participation in team-based projects. Thriving in fast-paced environments, I embrace new challenges and leverage my adaptability to deliver results.

If you are seeking a passionate and skilled mobile app developer to bolster your team, I would be delighted to connect with you. Let's collaborate on innovative projects that push boundaries and shape the future of mobile applications. Feel free to reach out to me if you are interested in discussing opportunities or if you would like to explore how my skills can contribute to your organization's success.
`;
---

<div class="card rounded-2xl px-5 py-5 flex flex-col relative">
    <div class="absolute -top-20" id="about"></div>
    <div class="flex justify-stretch mb-3 ml-4">
        <img
            src="/assets/icons/about_icon.png"
            loading="eager"
            class="h-8 w-8 object-contain"
        />
        <span class="text-white font-bold text-2xl ml-3">About</span>
    </div>
    <div
        class="mx-3 my-4 px-5 text-white text-base md:text-xl lg:text-xl xl:text-xl 2xl:text-xl text-justify whitespace-pre-line"
    >
        {aboutMe}
    </div>
</div>
