---
import { educations } from "../../data/educations";
---

<div class="px-4 py-4 mt-2 flex flex-col">
    <div class="flex justify-stretch items-center mb-3 ml-4">
        <img
            src="/assets/icons/education_icon.png"
            loading="eager"
            class="h-12 w-12 object-contain"
        />
        <span class="text-white font-bold text-2xl ml-3">Education</span>
    </div>
    <div class="grid-container">
        {
            educations.map((education) => (
                <div class="card hover:scale-105 hover:shadow-md hover:shadow-white">
                    <div class="card-text text-2xl font-bold mb-5">
                        {education.degree}
                    </div>
                    <div class="card-text text-xl font-semibold mb-3">
                        {education.name}
                    </div>
                    <div class="card-text text-base font-semibold mb-4">
                        {education.duration}
                    </div>
                    <div class="card-text text-xl font-bold">
                        {education.score}
                    </div>
                </div>
            ))
        }
    </div>
</div>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        margin: 20px;
    }

    .card {
        border: 2px solid #ccc;
        border-radius: 20px;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .card-text {
        text-align: center;
        color: white;
    }
</style>
