---
import Contact from "./contact.astro";
---

<div class="m-5 mb-9 flex items-stretch">
    <div class="head w-2/3 rounded-2xl card flex flex-col">
        <div class="overflow-hidden">
            <div class="min-h-16 relative">
                <img
                    class="w-full min-h-16 min-w-16 rounded-t-2xl object-cover"
                    src="/assets/images/background.jpeg"
                    alt="Background Image"
                />
                <img
                    id="profile_img"
                    class="rounded-full w-1/3 border-white border-4 object-cover absolute left-5 md:left-12 lg:left-12 xl:left-12 2xl:left-12 min-h-28 min-w-28 max-h-72 max-w-72"
                    src="/assets/images/image.png"
                    alt="Profile Image"
                    loading="eager"
                />
            </div>
        </div>

        <div class="flex flex-wrap justify-between mb-7">
            <div
                class="flex flex-col mt-1 mx-7 md:mx-12 lg:mx-12 xl:mx-12 2xl:mx-12 text-white"
            >
                <div
                    class="font-extrabold mt-2 text-2xl md:text-4xl lg:text-4xl xl:text-4xl 2xl:text-4xl"
                >
                    Himanshu Mathpal
                </div>
                <div
                    class="font-bold mt-2 mb-1 text-lg sm:text-lg md:text-2xl lg:text-2xl xl:text-2xl 2xl:text-2xl min-h-8"
                >
                    <span id="typewriter"></span>
                </div>
                <div
                    class="font-semibold text-base md:text-xl lg:text-xl xl:text-xl 2xl:text-xl flex items-center"
                >
                    <img
                        src="/assets/icons/college_icon.png"
                        class="h-6 w-6 mr-2 md:h-10 md:w-10 lg:h-10 lg:w-10 xl:h-10 xl:w-10 2xl:h-10 2xl:w-10"
                        loading="eager"
                    />
                    <div>Ch. Devi Lal University, Sirsa</div>
                </div>
                <div
                    class="font-semibold text-base md:text-xl lg:text-xl xl:text-xl 2xl:text-xl"
                >
                    Delhi,India
                </div>
            </div>
            <div
                class="mt-5 mx-5 rounded-2xl p-5 bg-gray-800 text-white flex flex-col self-end"
            >
                <div class="text-lg font-bold">Open to Work</div>
                <div class="font-semibold mt-1">
                    Mobile Application and Android Developer roles
                </div>
            </div>
        </div>
    </div>
    <div class="flex-1 w-1/3" id="contact"><Contact id="contact-top" /></div>
</div>
<style>
    .card {
        border: 2px solid #ccc;
    }

    @media screen and (max-width: 960px) {
        #contact {
            display: none;
        }
        .head {
            width: 100%;
        }
    }
</style>
<script>
    const image = document.getElementById("profile_img");
    if (image) {
        const imageContainer = image.parentElement;

        function setImageMargin() {
            if (image && imageContainer) {
                const imageHeight =
                    image.offsetHeight; /* Get image height after it loads */
                const imageBottom = `${imageHeight / 2}px`; /* Calculate margin based on half image height */
                image.style.bottom = `-${imageBottom}`;
                // image.style.left = `${imageHeight / 3}px`;
                imageContainer.style.marginBottom = imageBottom;
                /* Apply calculated margin */
            }
        }

        window.addEventListener("load", () => {
            setImageMargin();

            // // INJECT CSS
            // var css = document.createElement("style");
            // css.type = "text/css";
            // css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
            // document.body.appendChild(css);
        }); /* Run on window load */
        window.addEventListener("resize", setImageMargin);
    }

    const words = [
        "Software Developer",
        "Flutter Developer",
        "Astro Developer",
        "Android Developer",
    ];
    let i = 0;
    let j = 0;
    let currentWord = "";
    let isDeleting = false;

    function type() {
        currentWord = words[i];
        var writer = document.getElementById("typewriter");
        if (writer) {
            if (isDeleting) {
                writer.textContent = currentWord.substring(0, j - 1);
                j--;
                if (j == 0) {
                    isDeleting = false;
                    i++;
                    if (i == words.length) {
                        i = 0;
                    }
                }
            } else {
                writer.textContent = currentWord.substring(0, j + 1);
                j++;
                if (j == currentWord.length) {
                    isDeleting = true;
                }
            }
        }
        setTimeout(type, 100);
    }

    type();
</script>
