.carousel-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    min-width: 40px;
    min-height: 40px;
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
}

.carousel-text {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 10px 0 5px;
    color: white;
    text-align: center;
}